# Example files for id127, scratches, file sketches
counters.c
counters
hello.c
hello
ind.c
ind
matrixSum.c
matrixSum
pc.sems.c
hw2/hello*

hw3/Hello*
hw3/SleepMessages*
hw3/fairbear/BinarySemaphore.java


hw4/hello*

# just notes
hw1/description.txt

# editor specific
.vscode/
.idea/
id1217.iml

# java classes
*.class


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
